/*Allgemein*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: midnightblue;
    padding: 10px;
}

/*Kategorien*/
.categories {
    border: 12px double orange;
    border-radius: 30px;
    margin: 15px;
    padding: 10px 10px;

    background-color: rgba(103, 120, 119, 0.78);
}

.category {
    border: 2px solid #4ADBE1;
    box-shadow: 6px 6px 5px -4px #4ADBE1, -6px -6px 5px -4px #4ADBE1, 6px -6px 5px -4px #4ADBE1, -6px 6px 5px -4px #4ADBE1;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;

    display: inline-block;

    background: linear-gradient(180deg, #08669E, #0C2957, #5D378B);

    width: 23%;
    height: 375px;
}

.category a {
    color: white;

    display: flex;
    justify-content: center;
    /*align-items: center;*/

    position: relative;
    top: 40%;

    font-size: 52px;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none;
}

.category img {
    display: none;
}

/*Fragen*/
.question {
    border: 2px solid #4ADBE1;
    box-shadow: 6px 6px 5px -4px #4ADBE1, -6px -6px 5px -4px #4ADBE1, 6px -6px 5px -4px #4ADBE1, -6px 6px 5px -4px #4ADBE1;
    border-radius: 16px;
    margin: 50px 10px;
    padding: 20px;

    color: white;
    background: linear-gradient(180deg, #08669E, #0C2957, #5D378B);

    font-size: 60px;
    font-weight: bold;
    font-family: Arial;

    text-align: center;
    align-content: center;

    height: 250px;
}

.finalQuestion {
    border: 2px solid #4ADBE1;
    box-shadow: 6px 6px 5px -4px #4ADBE1, -6px -6px 5px -4px #4ADBE1, 6px -6px 5px -4px #4ADBE1, -6px 6px 5px -4px #4ADBE1;
    border-radius: 16px;
    margin: 450px 10px;
    padding: 20px;

    color: white;
    background: linear-gradient(180deg, #08669E, #0C2957, #5D378B);

    font-size: 60px;
    font-weight: bold;
    font-family: Arial;

    text-align: center;
    align-content: center;

    height: 250px;
}

.answerOption {
    border: 2px solid #4ADBE1;
    border-radius: 16px;
    margin: 20px 10px;

    background: linear-gradient(180deg, #8c0012, #0C2957, #5D378B);

    display: flex;

    height: 125px;
}

.char {
    border: 2px solid #4ADBE1;
    border-radius: 16px;

    position: relative;
    top: -2px;
    left: -2px;

    color: orange;

    font-size: 75px;
    font-weight: bold;
    font-family: Arial;

    text-align: center;
    align-content: center;

    width: 125px;
    height: 125px;
}

.text{
    margin: 20px;

    color: white;

    font-size: 75px;
    font-family: Arial;

    text-align: left;
    align-content: center;
}

.centered{
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
